
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Checkout Integration</title>
</head>

<body>
    <h1>Product Detail</h1>


    <h3>product name: {{product}}</h3>


    <h4>price: {{product.price}}$</h4>


    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=ASPzoUS78y3DrThqSXvYpdNjy_vznLHgTYk31BPkFX6rxdtxMlllV7C0cIpIU1c0o014Cuxvzll3ElMT&currency=USD"></script>

    <script>

    var productID = '{{product.id}}'

    function getCookie(name) {
     let cookieValue = null;
     if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    const csrftoken = getCookie('csrftoken');



function order_completed(){
    var url = "{% url 'order-completed' %}"
    fetch (url , {
        method:'POST' ,
        headers:{
            'Content-type':'application/json' ,
            'X-CSRFToken' : csrftoken ,
        } ,
        body:JSON.stringify({'product_id':productID})
    })
}

        // Render the PayPal button into #paypal-button-container
paypal.Buttons({
     // Set up the transaction
     createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                   amount: {
                      value: '{{product.price}}'
                   }
               }]
           });
         },
       // Finalize the transaction
       onApprove: function(data, actions) {
           return actions.order.capture().then(function(orderData) {
               // Successful capture! For demo purposes:
               console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
               let transaction = orderData.purchase_units[0].payments.captures[0];

               order_completed()
               
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
            });
         }
}).render('#paypal-button-container');

    </script>
</body>

</html>
    